.filters {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 16px 24px;
  background-color: hsl(0, 0%, 98%);
  border-radius: 8px;
  color: hsl(236, 9%, 61%);
  font-weight: 700;
}

.filters__button:hover {
  color: hsl(235, 19%, 35%);
}

.filters__button.active,
.filters__button:active {
  color: hsl(220, 98%, 61%);
}
