.todo-list {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
  border-radius: 8px;
  overflow: hidden;
}

.todo-list__divider {
  border-top: 1px solid hsl(233, 11%, 84%);
}

.todo-list__footer {
  display: flex;
  justify-content: space-between;
  color: hsl(236, 9%, 61%);
  padding: 20px 24px;
  font-size: 0.8rem;
}

.todo-list__filter-list__button:hover,
.todo-list__footer__clear-button:hover,
.todo-list__footer__clear-button:active {
  color: hsl(235, 19%, 35%);
}
