.todo-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px 24px;
}

.todo-item input[type='checkbox'] {
  appearance: none;
  margin: 0;
}

.todo-item__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid hsl(233, 11%, 84%);
}

.todo-item__checkbox:hover,
.todo-item__checkbox:active {
  border-color: hsl(280, 87%, 65%);
  cursor: pointer;
}

.todo-item__checkbox:checked {
  background: hsl(280, 87%, 65%) url('./src/assets/images/icon-check.svg') no-repeat center;
  border-color: hsl(280, 87%, 65%);
}

.todo-item__text {
  flex: 1;
  align-self: flex-end;
  color: hsl(235, 19%, 35%);
}

.todo-item__text.checked {
  text-decoration: line-through;
  color: hsl(233, 11%, 84%);
}

.todo-item__remove-button {
  border: none;
  background: none;
  cursor: pointer;
}
